/* fonts */
/* 
    font-family: 'Cinzel', serif;
    font-family: 'PT Serif', serif;
*/

.container {
  width: 90%;
  max-width: 39rem;
  margin: 0 auto;
}
.h1 {
  font-size: 96px;
  font-family: 'Cinzel', serif;
  text-align: center;
  line-height: 0.9;
  margin: 2em auto 30px;
}
