/* fonts */
/* 
    font-family: 'Cinzel', serif;
    font-family: 'PT Serif', serif;
*/

.container {
  width: 90%;
  max-width: 39rem;
  margin: 0 auto;
}
h1 {
  font-size: 96px;
  font-family: 'Cinzel', serif;
  text-align: center;
  line-height: 0.9;
  margin: 2em auto 30px;
}
.subtitle {
  font-size: 36px;
  font-family: inherit;
  text-align: center;
  line-height: 1.6;
  width: 70%;
  margin: 0 auto 80px;
  color: #7D7D7D;
}
body {
  font-size: 18px;
  font-family: 'PT Serif', serif;
  line-height: 1.6;
  color: #414141;
}
.lead {
  font-size: 21px;
}
a {
  color: #CA5E10;
}